body {
max-width: 500px;
text-align: center;
font-family: sans-serif;
float: right;
margin-right: 330px;
margin-top: 70px;
background-image: url("../img/music.jpg");
}

.container {
  background-color: #000000c9;
  font-weight: 400;
  color: #6bdfe6d4;
  max-width: 400px;
  margin-right: 100px;
  margin-bottom: 60px;
  padding: 30px;
  border-radius: 50px;
  border: inset white 3px;
}

h1 {
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #f7ff00d4;
  color: #8808c5;
  font-family: 'Monoton', cursive;
}

form {
  float:right;
  max-width: 500px;
}
label {
  text-align: left;
}
output {
  font-size: 40px;
}
img {
  max-width: 200px;
}
